# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/

# Environment variables
.env

# Database
*.db

# CSV datasets
online_retail.csv

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
